

.sub-title{
    display: flex;
    flex-direction: row;
}



.agregar-zona-container{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: auto;
    gap: 5em;
    max-height: 80%; 
}

.detalle-item{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    font-size: 1em;
    font-weight: 500;
    align-content: center;
    justify-content: left;
    gap : 20px;
}
