
   
    
    <div class ="general-view">
         <!-- Tabla para mostrar los productos -->
        <div class="contedor-principal-card card--elevated">
            <div class="head-section">
                <h3 class="list-title">Productos</h3>
                <button class="special_button"(click)="agregar()">Nuevo Producto</button>
            </div>

            <div class="filter-search">
                <input class="search_input cod-max" placeholder="Codigo" type="text" [(ngModel)]="filtro.id">
                <input class="search_input" placeholder="Descripcion" type="text" [(ngModel)]="filtro.description">
                <button>
                    <ion-icon class="search_icon" name="search-outline"></ion-icon>
                </button>
            </div>

            <div *ngFor="let product of products" class="product-item" (click)="detalle(product)">
                <div class="product-item-description">
                    <div class="product-description">{{ product.description }}</div>
                    <div class="product-description-code">Codigo: {{ product.id }}</div>
                </div>
                <div class="product-item-right">
                    <div  class="product-price"> ${{ product.price }}</div>
                </div>
                
                
            </div>
            <div class="pagination">
                <button>
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </button>
                
                <button *ngFor="let page of pages" [class.active]="page === currentPage" (click)="goToPage(page)">
                  {{ page }}
                </button>

                <button>
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </button>
                
            </div>
        </div>
        <div  class="second-view">
            <div class="contedor-principal-card  card--elevated" *ngIf="edit">
                <div class="head-section">
                    <h3 class="list-title">Editar Producto</h3>
                    <span>Cod: {{ productSelected.id }}</span>
                </div>
                <div class="product-detalle-column">
                        <span>Descripcion</span>
                        <input class="clasic_input max-width" type="text" [(ngModel)]="productSelected.description">
                </div>
                <div class="product-detalle-fila">
                        <span>Precio $:</span>
                        <input class="clasic_input" type="number" [(ngModel)]="productSelected.price">
                </div>
                <div class="product-detalle-fila button-div">
                    
                    <button class="special_button button-div-child" (click)="guardar()">Guardar</button>
                    <button class="special_button button-div-child" (click)="cancelar()">Cancelar</button>
                    
                </div>
                    
            </div>

            <div class="contedor-principal-card  card--elevated" *ngIf="nuevo">
                <div class="head-section">
                    <h3 class="list-title">Nuevo Producto</h3>
                </div>
                <div class="product-detalle-fila">
                    <span>Codigo:</span>
                    <input class="clasic_input" type="number" [(ngModel)]="productSelected.id">
                </div>
                <div class="product-detalle-column">
                        <span>Descripcion</span>
                        <input class="clasic_input max-width" type="text" [(ngModel)]="productSelected.description">
                </div>
                <div class="product-detalle-fila">
                        <span>Precio $:</span>
                        <input class="clasic_input" type="number" [(ngModel)]="productSelected.price">
                </div>
                <div class="product-detalle-fila button-div">
                    
                    <button class="special_button button-div-child" (click)="guardar()">Guardar</button>
                    <button class="special_button button-div-child" (click)="cancelar()">Cancelar</button>
                    
                </div>
                    
            </div>
            
        </div>
        

        

    </div>
